@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* {
    font-family: "Fira Sans", sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --primaryblue: #0071e3;
    --darkblue: #040023;
    --yaleblue: #005b92;
    --lightblue: #4ad8fe;
    --steelblue: #358bc6;
    --orange: #fca51a;
    --violet: #a509b2;
    --slateblue: #c3d7eb;
    --turquoise: #1fefcb;
    --pink: #ff0175;
    --white: #fff;
    --black: #000;
}
html {
    width: 100% !important;
    overflow-x: hidden !important;
}
body {
    background: var(--darkblue);
    overflow-x: hidden !important;
}

.icon-div-main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    transform: scale(4);
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.iniClass:hover div div div .icon-div {
    background-color: #fff;
    color: #198ce6;
}

.flt-size {
    margin: 0;
}

nav:after {
    content: "";
    clear: both;
    display: table;
}
nav .logo img {
    float: left;
    width: 200px;
    top: 50px;
    z-index: 2000;
    padding-left: 30px;
}
nav ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}
nav ul li {
    float: left;
    display: inline-block;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul li a:hover {
    color: #198ce6;
    border-radius: 5px;
    box-shadow: 0 0 5px #198ce6, 0 0 10px #198ce6;
}

nav ul ul li a:hover {
    box-shadow: none;
}
nav ul ul {
    position: absolute;
    top: 80px;
    border-left: 3px solid #198ce6;
    background: var(--darkblue);
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s;
}
nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li {
    position: relative;
    margin: 0px;
    width: 250px;
    float: none;
    display: list-item;
    color: #198ce6;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
    line-height: 50px;
}
nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
}
.show,
.icon,
.hiddeninput {
    display: none;
}
.fa-plus {
    font-size: 15px;
    margin-left: 40px;
}

header {
    font-size: 35px;
    font-weight: 600;
    padding: 10px 0;
}

p {
    font-size: 30px;
    font-weight: 500;
}

.landingLeft {
    height: 100vh;
    width: 50%;
    margin-top: 15%;
    margin-left: 5%;
    float: left;
    position: relative;
}

.bullet {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: var(--primaryblue);
    display: inline-block;
    font-size: 20px;
    color: white;
    line-height: 30px;
    text-align: center;
}

.landingRight {
    height: 100vh;
    width: 45%;
    float: right;
    overflow: hidden;
}

.infoCardDiv {
    width: 45%;
    height: 45%;
    margin-left: 27.5%;
    border-radius: 15px;
}

.tablinks {
    border: none;
    outline: none;
    background-color: var(--lightblue);
    cursor: pointer;
    padding: 10px 20px;
    font-size: 17px;
    transition: 0.3s;
    border-radius: 10px;
    display: inline-block;
    color: black;
    margin: 0 2%;
}

.tablinks:hover {
    background-color: var(--primaryblue);
    color: white;
}

.tablinks.active {
    background-color: var(--primaryblue);
    color: white;
}

.tabcontent {
    display: none;
    padding: 15px 0;
    height: 100%;
}

#f1:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.icon-div-main:hover div div div .icon-div {
    background-color: white;
    color: #198ce6;
}

.btn:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 20px 0px black;
}

@media only screen and (max-width: 991px) {
    nav .logo img {
        transform: scale(0.7);
    }
    nav ul {
        margin-right: 0px;
    }
    nav .menu-btn {
        display: block;
        color: white;
        cursor: pointer;
        float: right;
        font-size: 20px;
        line-height: 70px;
        margin-right: 40px;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--darkblue);
        top: 70px;
        right: -100%;
        text-align: center;
        transition: all 0.3s;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }
    nav ul ul {
        top: 80px;
        border-left: none;
        border-top: 3px solid #198ce6;
    }
    nav ul li:hover > ul {
        top: 70px;
        left: 0;
    }
    nav ul ul ul {
        position: absolute;
        left: 100%;
        top: 0;
        border-left: 3px solid #198ce6;
        border-top: none;
    }
    .show {
        display: block;
        margin-top: 70px;
        font-size: 25px;
    }
    .hiddeninput {
        display: block;
        position: absolute;
        top: -20px;
        right: -20px;
        cursor: pointer;
        font-size: 30px;
        color: white;
        width: 100%;
    }
    nav ul.show {
        right: 0;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 10px;
    }
}

.changing-text {
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-size: 24px;
    text-align: center;
    /* margin-bottom: 40px; */
    height: 80px;
}

.changing{
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-size: 24px;
    text-align: center;
    /* margin-bottom: 40px; */
    height: 80px;
}
.text{
    margin-top: 100px;
}


@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 10vh;
  margin-bottom: 40px;
  margin-top: 40px;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}
.timeline-content p{
    font-size: 15px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.image{
    padding-top :50px;
    display: flex;
    padding-left:100px;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin-bottom: 20px;
}
.image img{
    border-radius: 10px;
    text-align: center;
}
.changing{
    color: #fff; /* Set text color to white */
    padding-right: 100px;
    text-align: center;
    height: auto;
}

.changing p{
    font-size: 25px;
}
.changing-text #changingText {
    font-size: 24px;
    height: 40px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .image {
        flex-direction: column; /* Stack columns vertically on smaller screens */
    }

    .image .col-md-6 {
        width: 100%; /* Set each column to occupy full width on smaller screens */
    }
}


.container {
    width: 100%;
    max-width: 900px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-group input[type="checkbox"] {
    width: auto;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.form-group button:hover {
    background-color: #218838;
}
.success-message {
    display: none;
    text-align: center;
    margin-top: 20px;
    color: green;
}